{% extends 'base.html' %}
{% load static %}
{% load humanize %}



{% block content %}

<div style="border-radius: 10px" class="container bg-info ">



    <ul class="nav justify-content-center nav-tabs mt-3" role="tablist">
		<li class="nav-item"><a href="#vinyl" class="nav-link active bg-warning text-dark" data-bs-toggle="tab">Виниловые пластинки</a></li>
		<li class="nav-item"><a href="#hifi" class="nav-link bg-warning text-dark" data-bs-toggle="tab">Hi-Fi компоненты</a></li>
	</ul>

    <div class="container  tab-content mt-3 ">

		    <div id="vinyl" class="tab-pane active " >

                    <div class="row  col-sm-12 text-center ">
                        {% for ProductsDescriptionVinyl in paged_vinyls %}
                             <div class="col-sm-4 p-5 {% cycle 'bg-light' 'bg-dark' %} {% cycle 'text-dark' 'text-light' %} ">

                                    <h6 class="text-center mb-2 fw-bold h6 mt-3">Виниловая пластинка {{ ProductsDescriptionVinyl.artist_name}} / {{ ProductsDescriptionVinyl.album_name}}
                                    </h6>

                                    <img class="float-end d-block img-thumbnail m-2" src="{{ ProductsDescriptionVinyl.photo.url}}">
                                    <p class="fs-3 fw-bold text-center">{{ ProductsDescriptionVinyl.price | intcomma}} сом  / <button type="button" class="btn {% cycle 'btn-dark' 'btn-light' %}" data-bs-toggle="modal" data-bs-target="#vinyl_{{forloop.counter}}"> Подробнее </button>
                                    </p>

                                    <div id="vinyl_{{forloop.counter}}" class="modal mt-3 fade ">

                                        <div class="modal-dialog  text-dark">

                                            <div class="modal-content ">

                                                <div class="modal-header">

                                                    <h3 class="modal-title">{{ ProductsDescriptionVinyl.artist_name}} / {{ ProductsDescriptionVinyl.album_name}}</h3>

                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>


                                                <div class="modal-body">

                                                    <img src="{{ ProductsDescriptionVinyl.photo.url}}" class="img-fluid">
                                                    {% autoescape off %}
                                                    <p>  {{ ProductsDescriptionVinyl.description}}
                                                    </p>
                                                    {% endautoescape %}
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-dark ">В корзину </button>
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> Закрыть </button>
                                                </div>

                                            </div>

                                        </div>

                                    </div>


                        </div>


                        {% endfor %}
                    </div>





<!--                <div class="pagination-box p-box-2 text-center">-->
                    {% if paged_vinyls.has_other_pages %}
                        <ul class="pagination p-3 d-flex justify-content-center">

                            {% if paged_vinyls.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ paged_vinyls.previous_page_number }}" > Previous </a>
                            </li>
                            {% endif %}

                            {% for i in paged_vinyls.paginator.page_range %}
                                {% if paged_vinyls.number == i %}
                                    <li class="page-item"><a class="page-link active" href="#" >{{ i }}</a></li>
                                {% else %}
                                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                                {% endif %}

                            {% endfor %}

                            {% if paged_vinyls.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ paged_vinyls.next_page_number }}" class="page-link"> Next </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
<!--                </div>-->

            </div>


    </div>

    <div class="container tab-content bg-info">

       <div id="hifi" class="tab-pane" >

            <table class="table table-striped table-bordered text-center table-light table-hover ">
                <thead class="table-primary fs-5">
                    <tr>
                        <th>Фото проигрывателя</th>
                        <th>Название проигрывателя</th>
                        <th>Размеры</th>
                        <th>Цена</th>

                    </tr>
                </thead>

                    <tbody class="align-middle">

                            <tr>
                                {% for ProductsDescriptionHiFi in allhifi %}
                                <td><img class="mx-auto d-block img-thumbnail img-fluid" src="{{ProductsDescriptionHiFi.photo.url}}" style="width:50%"></td>
                                <td>{{ProductsDescriptionHiFi.name}}</td>
                                <td>117*447*360</td>
                                <td>136 000 р</td>
                                {% endfor %}
                            </tr>



                    </tbody>

            </table>
            <ul class="pagination p-3 d-flex justify-content-center">
				<li class="page-item"><a href="#" class="page-link"> Previous </a></li>
				<li class="page-item active"><a href="#" class="page-link"> 1 </a></li>
				<li class="page-item"><a href="#" class="page-link"> 2 </a></li>
				<li class="page-item"><a href="#" class="page-link"> 3 </a></li>
				<li class="page-item"><a href="#" class="page-link"> 4 </a></li>
				<li class="page-item"><a href="#" class="page-link"> 5 </a></li>
				<li class="page-item"><a href="#" class="page-link"> 6 </a></li>
				<li class="page-item"><a href="#" class="page-link"> Next </a></li>
            </ul>

        </div>

    </div>





</div>

{% endblock %}