
{% extends 'base.html' %}
{% load static %}



{% block content %}

<div style="border-radius: 10px" class="container bg-info ">



    <h1 class="text-center h1 m-3"><b>Почему мы ?</b></h1>

    <div class="container mt-3 mb-3 ">
        <img class="mx-auto d-block img-thumbnail " src="https://impult.ru/preview/r/1220x412/upload/rk/b57/b5747af431f6d79800a7bb3953aef95d.png">
    </div>



    <div class="container bg-danger">
            <p class="text-white p-2 fst-italic">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>
            <img class="float-end d-block img-thumbnail m-2" style="width: 40%" src="https://www.pravilamag.ru/upload/verstka_io/677109/780c2c41dfb086b7fd9991ae9f4a07ea.jpg">
               <br> «Вот что я люблю в музыке — даже самые банальные сцены внезапно наполняются великим смыслом.
            Все банальности — они вдруг превращаются в прекрасные, в чудесные бриллианты, когда звучит музыка», — говорил герой Марка Руффало в фильме «Хоть раз в жизни».
            И кажется неважным, почему винил так популярен и будет ли он популярен еще. Музыка продолжает наполнять нашу жизнь великим смыслом независимо от типа носителя. <br>
                 <br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             <br><br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </p>

    </div>

    <div class="ratio ratio-16x9">
      <iframe src="https://www.youtube.com/embed/xEKAJA2lriE" title="Проигрыватель винила Music Hall MMF-9.3" allowfullscreen></iframe>
    </div>








    <div class="form-floating m-2 mb-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
      <label for="floatingTextarea2">Ваши Комментарии</label>
      <button type="button" class="btn btn-success mt-2 mb-2 "> Отправить комментарий </button>
    </div>


</div>
{% endblock %}